.cart-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 30px;
}

.cart-info {
  background-color: #ffff;
  width: 65%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-info h1 {
  text-align: center;
  color: #333;
}

#cart-items {
  margin: 20px 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 100px;
}

.cart-item-details {
  flex: 1;
  margin-left: 20px;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity input {
  width: 40px;
  text-align: center;
}

.cart-item-quantity button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 5px;
}

.cart-item-quantity button:hover {
  background-color: #c9302c;
}

.total {
  text-align: right;
  font-size: 18px;
  margin: 20px 0;
}

.thanhtoan {
  background-color: #ffff;
  width: 30%;
  padding: 20px;
  margin-left: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thanhtoan .tienhang,
.thanhtoan .giamgia,
.thanhtoan .tongtien {
  margin: 10px 0;
  text-align: left;
  color: grey;
}

#checkout-button {
  width: 100%;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

#checkout-button:hover {
  background-color: #cc0000;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-group label a {
  color: #0000ff;
  text-decoration: none;
}

.checkbox-group label a:hover {
  text-decoration: underline;
}

.checkbox-group label {
  display: inline;
}

.thanhtoan div p a {
  color: #d9534f;
  text-decoration: none;
}

.thanhtoan div p a:hover {
  text-decoration: underline;
}
#cart-items {
  max-width: 650px;
  margin-left: 10%;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.product img {
  width: 20%;
  height: auto;
  object-fit: cover;
}

.product-details {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-action {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-bottom: 10px; 
}

.quantity span {
  width: 50px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 10px;
}

.quantity button {
  background-color: white;
  border: 1px solid #ff0000;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 50px;
}

.quantity-value {
  font-size: 16px;
}

.remove-product {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.price {
  font-size: 18px;
  color: #ff0000;
  text-align: right;
}
.total {
  color:grey;
}
